name: Security CI – OWASP ZAP

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  start_app:
    name: Start Application Container
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and Start App with Docker Compose
        run: |
          docker compose up -d --build
          echo "Aguardando aplicação iniciar..."
          sleep 15

      - name: Validate app is running
        run: |
          curl -I http://localhost:8081 || exit 1


  zap_scan:
    name: OWASP ZAP DAST Scan
    needs: start_app
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create report directory
        run: mkdir zap-reports

      - name: Run OWASP ZAP Scan
        run: |
          docker run --rm \
            --network=zapnet \
            -v $(pwd)/zap-reports:/zap/wrk \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-full-scan.py \
            -t http://cortex-pocket-app:8081 \
            -r zap-report.html \
            -w zap-report.md \
            -J zap-report.json \
            -x zap-report.xml \
            -d

      - name: Upload Reports
        uses: actions/upload-artifact@v4
        with:
          name: zap-reports
          path: zap-reports/

      - name: Fail on HIGH or MEDIUM findings
        run: |
          HIGH=$(jq '[.site[].alerts[] | select(.riskcode == "3")] | length' zap-reports/zap-report.json)
          MEDIUM=$(jq '[.site[].alerts[] | select(.riskcode == "2")] | length' zap-reports/zap-report.json)

          echo "Vulnerabilities HIGH: $HIGH"
          echo "Vulnerabilities MEDIUM: $MEDIUM"

          if [ "$HIGH" -gt 0 ] || [ "$MEDIUM" -gt 0 ]; then
            echo "❌ Vulnerabilities detected!"
            exit 1
          fi


  summary:
    name: Summary
    runs-on: ubuntu-latest
    needs: [zap_scan]
    if: success()

    steps:
      - name: OK
        run: echo "✔ Nenhuma vulnerabilidade crítica ou média encontrada."



